<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.inthecheesefactory.lab.designlibrary">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!--<uses-sdk android:minSdkVersion="15"/>-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.WithoutActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.hong.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.hong.activity.MenuSearchActivity"/>

        <activity android:name="com.hong.activity.SearchByMenuNameStepActivty">
            <meta-data
                android:name="com.inthecheesefactory.lab.glidepicasso.GlideConfiguration"
                android:value="GlideModule"/>
        </activity>

        <activity android:name="com.hong.activity.SettingActivity"/>
    </application>

</manifest>
